.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialog {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    max-width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.dialog-close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.dialog-buttons {
    display: flex;
    justify-content: end;
    gap: 24px;
}

.dialog-buttons button {
    font-size: medium;
    border-radius: 10px;
    border: 1px solid darkgray;
    padding: 8px 24px;
}

.dialog-buttons button {
    font-size: medium;
    border-radius: 10px;
    padding: 8px 24px;
    cursor: pointer;
}

button.dialog-button-cancel {
    background: none;
    border: 1px solid darkgray;
    color: gray;
}

button.dialog-button-delete {
    background: orangered;
    color: white;
    border: none;
}
