.lists {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    padding: 12px;
    border: 1px solid darkgray;
    border-radius: 12px;
}

.list-open {
    display: flex;
    flex-direction: column;
    width: 450px;
    border: 1px solid darkgray;
    border-radius: 12px;
    padding: 12px;
    margin: 15px 0;
}

.list-open-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list-open-input {
    display: flex;
    align-items: center;
    gap: 12px;
}


.list-open-header img,
.lists img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.list-open-input input {
    border: 1px solid darkgray;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    height: 24px;
    font-size: large;
    font-weight: 500;
}

label {
    color: grey;
}

.list-close-btn {
    font-size: xx-large;
    color: grey;
    cursor: pointer;
}

.list-open-content-info {
    display: flex;
    justify-content: space-between;
    height: 56px;
}

.d-flex {
    display: flex;
    flex-direction: column;
    width: 132px;
}

.list-open-content {
    margin: 16px 0;
    height: 200px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.list-open-content-info input,
.list-open-content-info select {
    border: 1px solid darkgray;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
    width: 120px;
    margin-top: 5px;
    height: 21px;
}

.list-open-content-info select {
    height: 32px;
    width: 140px;
}

.list-open-content-description {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.list-open-content-description textarea {
    border: 1px solid darkgray;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
    margin-top: 5px;
}

.list-open-footer {
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    gap: 12px;
}

#list-open-name {
    font-size: large;
    font-weight: 500;
    margin-left: 5px;
}

#age-text,
#gender-text,
#country-text,
#description-text {
    margin-top: 10px;
}

#gender-text {
    text-transform: capitalize;
}

.close-icon {
    cursor: pointer;
    color: red;
}

.check-icon {
    cursor: pointer;
    color: #8bc24b;
}

.edit-icon {
    cursor: pointer;
    color: #2296f3;
}

.delete-icon {
    cursor: pointer;
    color: red;
}

@media (max-width: 521px) {

    .lists,
    .list-open {
        width: 95%;
    }

    .list-open-content-info input {
        width: 100px;
    }

    .list-open-content-info select {
        width: 115px;
    }
}